body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 50px;
}

#main-h {
    font-size: 80px;
}

p {
    font-size: 30px;
    color: gray;
}

#main-p {
    color: white;
}

.header {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.btn {
    padding-top: 40px;
}